<article>
    <aside>
        <h1>Olá, eu sou Oráculo</h1>
        <div class="Oracle">
            <h2>Nosso multiverso está em crise! Confiáveis aliados ​​e antigos inimigos estão unindo-se para lutar contra o multiverso escuro e precisamos da sua ajuda!</h2>
            <img src="https://i.postimg.cc/tgRdsCyt/OracleD.jpg" alt="Oráculo">
        </div>
    </aside>
    <div class="Hackeado">
        <p >É importante que você saiba ao lado de quem vai lutar. Eu hackeei o banco de dados do batcomputador e vou dar-lhe acesso para que assim possa estudar a seus novos companheiros:</p>
        <ul>        
            <li>
                <a href="/herois">>Heróis<</a>
            </li>
            <li>
                <a href="/viloes">>Vilões<</a>
            </li>
        </ul>
    </div>
</article>
    
