@font-face 
    font-family: 'BatFont'
    src: url('../../../assets/BatFont.ttf')


*
    color: rgb(255, 255, 255)
    background-image: none
    display: flex
    justify-content: center
    flex-wrap: wrap
    margin: 0px
    font-family: BatFont
    text-shadow: 0.2em 0.1em 0.1em black

article
    flex-direction: column
    flex-wrap: nowrap
    padding: 30px
    // margin: 0px 100px 0px 100px
    // div
    //     flex-direction: column
    aside
        flex-direction: row
        flex-wrap: nowrap
        background-image: url("../../../assets/Binary2.gif")
        // background-image: url("../../../assets/Binary3.gif")
        // background-image: url("../../../assets/Binary5.gif")
        background-size: 300px
        div
            justify-content: flex-start
            display: flex
            flex-direction: column
            padding: 0px
            margin: 0px
            // padding: 30px
            h1
                font-size: 40px
                padding: 40px 
            h2
                font-size: 27px
                padding: 40px 
img 
    // width: 300px
    height: 500px

.Hackeado
    background-image: url("../../../assets/Electri GIF3.gif")
    background-size: 1500px
    display: flex
    flex-direction: column
    padding: 40px
    font-size: 25px
    // margin: 100px 0px 0px 0px
    ul
        flex-direction: column
        font-size: 40px
        padding: 30px
        li
            line-height: 60px