<article>
    <aside>
        <div>
            <h1>Olá, eu sou Oráculo</h1>
            <h2>Nosso multiverso está em crise! Confiáveis aliados ​​e antigos inimigos estão unindo-se para lutar contra o multiverso escuro e precisamos da sua ajuda.</h2>
        </div>
        <div>
            <!-- <h2>Bem-vindo ao incrível multiverso DC</h2> -->
            <img src="../../../assets/Oraculo1.jpg" alt="Oráculo">
        </div>
    </aside>
    <div class="Hackeado">
        <p >É importante que você saiba com quem vai lutar. Eu hackeei o banco de dados do batcomputador e vou dar-lhe acesso para que você possa estudar seus novos companheiros:</p>
        <ul>        
            <li>
                <a href="/herois">Heróis</a>
            </li>
            <li>
                <a href="/viloes">Vilões</a>
            </li>
        </ul>
    </div>
</article>
    
