*{
    color: rgb(255, 255, 255);
    background-image: none;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
}

@font-face {
    font-family: 'BatFont';
    src: url('../assets/BatFont.ttf')
}

div h1{
    padding: 25px;
    font-size: 50px;
    font-family: 'BatFont';
    text-shadow: 0.2em 0.1em 0.1em black;
    background-image: url('../assets/Electric GIF.gif');
    background-size: 170px;
}

@media (max-width: 600px){
    
    div h1{
        font-size: 8vw;
        text-align: center;
    }
}