*{
    color: rgb(255, 255, 255);
    background-image: none;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

div h1, div h2{
    margin: 10px 0px 10px 0px;
}