<article id="Busca" *ngIf="Home == true">
  <form #meuForm="ngForm" (ngSubmit)="onSubmit(meuForm)">
			<div>
        <p>Um número de 1 a 731</p>
				<input type="text" name="palavras_chave" required ngModel placeholder="1-731"> 
			</div>
			<button type="submit">BUSCAR</button>
  </form>
</article>

<article id = "Resultados" *ngIf="Home == false">
  <button id="buttonHome"  type="button" (click)="limpar ()">
  Buscar mais!
  </button>
  <h1>Resultados</h1>    
  <div>
    <p> {{ resultados.name }} </p>
    <img [src]="resultados.image.url">
    
    <!-- <img *ngFor="let i of resultados.data" [src]="i.images.fixed_width.url"> -->
  </div>    
</article>
